body {
  background-color: lightskyblue;
  color: rgb(58, 26, 26);
}

body * {
  font-family: Ubuntu;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  margin: 0;
}

a,
a:hover,
a:visited {
  color: rgb(58, 26, 26);
  text-decoration: none;
}
